h1 {background-color: aliceblue;}
h2{background-color: beige; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: aquamarine;}
h3 {background-color: blanchedalmond;}
h4{background-color: brown; color: white;}